<!--
Homepage and testing braindump for 3D game.
Author: Alvin Lin (alvin.lin@stuypulse.com)
-->

<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet'
          href='/static/dist/minified.css' />

    <script src='/socket.io/socket.io.js'>
    </script>
    <script src='/bower_components/jquery/dist/jquery.min.js'>
    </script>
    <div id='top'>
      <h1> Change this name </h1>
    </div>
  </head>
  <body>
    <button class='start'>lock mouse</button> <br>
    <table>
      <tr>
	<td>
	  <img class="resize" src="/static/img/coding.jpg">
	</td>
	<td>
	  <div id='game-container'>
	  </div>
	</td>
	<td>
	  <div id="chat">
	    Chatroom
	  </div>
	</td>
      </tr>
    </table>
    <div id='description'>
      <h1>Controls</h1>
      <p id='navyParagraph'>Use WASD or the arrows keys to move around</p>
    </div>
  </body>
  <script src='/bower_components/three.js/build/three.min.js'>
  </script>
  <script src='/shared/Constants.js'>
  </script>
  <script src='/shared/Util.js'>
  </script>
  <script src='/static/js/requestAnimFrame.js'>
  </script>
  <script src='/static/js/Drawing.js'>
  </script>
  <script src='/static/js/Game.js'>
  </script>
  <script src='/static/js/Player.js'>
  </script>
  <script src='/static/js/Input.js'>
  </script>
  <script src='/static/js/client.js'>
  </script>
</html>
