<!--
Homepage and testing braindump for 3D game.
Author: Alvin Lin (alvin.lin@stuypulse.com)
-->

<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet'
          href='/static/dist/minified.css' />

    <script src='/socket.io/socket.io.js'>
    </script>
    <script src='/bower_components/jquery/dist/jquery.min.js'>
    </script>
  </head>
  <body>
    <div id='name-prompt-overlay'>
      <div id='name-prompt-container'>
        <form id='name-prompt-form'>
          <input type='text' id='name-prompt-entry'
                 placeholder='Nickname' autocomplete='off' />
          <input type='submit' id='name-prompt-submit'
                 value='Play'>
        </form>
      </div>
    </div>
    <div class='container'>
      <h1>
        Block Wars
      </h1>
      <div id='game-container'>
        <div id='game-pause-screen'>
          <h1>
            Paused
          </h1>
          <button id='game-resume'>
            Resume
          </button>
        </div>
      </div>
    </div>
  </body>
  <script src='/bower_components/three.js/build/three.min.js'>
  </script>
  <script src='/shared/Constants.js'>
  </script>
  <script src='/shared/Util.js'>
  </script>
  <script src='/static/js/requestAnimFrame.js'>
  </script>
  <script src='/static/js/Drawing.js'>
  </script>
  <script src='/static/js/Game.js'>
  </script>
  <script src='/static/js/Player.js'>
  </script>
  <script src='/static/js/Input.js'>
  </script>
  <script src='/static/js/client.js'>
  </script>
</html>
