<!DOCTYPE html>
<html>
  <head>
    <script src='/socket.io/socket.io.js'>
    </script>
    <script src='/bower_components/jquery/dist/jquery.min.js'>
    </script>

    <link rel='stylesheet'
          href='/static/css/styles.css' />
  </head>
  <body>
    <button class='start'>lock mouse</button>
    <div id='game-container'>
    </div>
  </body>
  <script src='/bower_components/three.js/build/three.min.js'>
  </script>
  <script src='/static/js/Game.js'>
  </script>
  <script src='/static/js/Player.js'>
  </script>
  <script src='/static/js/Input.js'>
  </script>
  <script src='/static/js/client.js'>
  </script>
</html>
