/**
 * Base stylesheet for website.
 * Author: Alvin Lin (alvin.lin@stuypulse.com)
 */

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  background-color: #66CCFF;

  p {
    text-align: center;
    color: #00008B;
  }


  #top {
    background-color:#000000;  
    text-align: center;
    color: #FFFFFF;
    width: 100%-15px;
    padding: 0px;
    border: 5px solid #000080;
  }

  .start {
    text-align: center;
  }

  .resize {
    width: 250px;
    height: 600px;
  }

  #chat {
    width: 250px;
    height: 600px;
    margin: 0;
    padding: 0;
    vertical-align: text-top;
  }
  
  #description {
    text-align: center;				
    font-size: 150%;
    width: 100%-15px;
    padding: 0px;
    border: 15px solid #000080;
    background-color: #FFB6C1;
    :hover {
      color: #0000FF;
      }
  }
}


#game-container {
  position: relative;
  width: 800px;
  height: 600px;
  margin: auto;
  border: 1px solid black;

  canvas {
    position: absolute;
    width: 800px;
    height: 600px;
  }
}

